body {
	background-color: #ccc;
	font-family: Arial;
}

section {
	margin: 5% auto;
	width: 50%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, minmax(200px, auto));
}

div {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	color: #fff;
	font-size: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

div:hover {
	cursor: pointer;
}