body {
	background-color: #bbb;
	font-family: Arial;
}
h1 {
	text-align: center;
}
section {
	margin: 5% auto;
	width: 50%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, minmax(200px, auto));
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

div:hover {
	cursor: pointer;
}

.griddie {
	border: 1px solid #fff;
	color: #fff;
	font-size: 10rem;
}